p {
	font-size: 20px;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
	color: white;
}

body {
	min-width: 1200px;
}

/* ############ Style elements from the navbar  ###########*/
.navbar{
	width: 100%; height: 30%;
	position: relative;
	background-color: #006bb3;
	padding-top: 25px;
	padding-bottom: 25px;
}

#header {
	text-align: center;
}

#header img {
	margin-top: -30px;
}


/* ############ Style elements from the results with the content  ###########*/

.content{
	background-color: white;
	display: inline-block;
	position: relative;
	top: 30px;
	width: 80%; height: 75%;
}

.container {
	margin-right: 30px;
	width: 50%;
	display: inline-block;
	margin: 30px 10px 30px 150px;
/* 	width: 50%;
	margin:30px;
	float: left; */
}

#options {
	width: 30%;
	float: right;
	text-align: left;
	margin-top: 30px;
	margin-right: 30px
}

#options > p {
	margin-top: 20px;
}

#options > select {
	margin-top: 5px;
	font-size: 16px;
}

.mode_option {
	font-size: 16px;
}

.button {
	width: 110px; height: 35px;
	border-radius: 5px;
	margin-right: 15px;
	margin-top: 20px;
	display: inline-block;
	background-color: #2ba6cb;
	border: 1px solid #1e728c;
	color: white;
	font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.button:focus {
  outline: none;  
}

.square {
	margin-left: 1px;
	margin-top: 1px;
	border: 1px solid black;
	float: left
}

.row {
	clear: both;
}

/* ############ Style elements from the footer   ###########*/

.footer{
	width: 100%; height: 65px;
	position: relative;
	top: 30px;
	margin-bottom: 20px;
	clear: both;
}

.footer > p {
	font-size: 14px;
	text-align: center;
}

.footer span {
	color: rgb(161, 0, 43);
}