
p {
	font-size: 20px;
}

/* ############ Style elements from the navbar  ###########*/
.navbar{
	width: 100%; height: 15%;
	position: relative;
	top:0; left:0;
	clear: both;
}

#header {
	text-align:center;
	padding-top: 10px;
}

#options {
	top: 10px;
	position:relative;
	text-align: center;
	clear: both;
}

#options > p, #options > select {
	margin-left: 10px;
	display: inline-block;
}

#options > select {
	font-size: 16px;
}

.mode_option {
	font-size: 16px;
}

.button {
	width: 120px; height: 35px;
	border-radius: 5px;
	margin-left: 10px;
	display: inline-block;
	background-color: #2ba6cb;
	border: 1px solid #1e728c;
	color: white;
	font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.button:focus {
  outline: none;  
}

/* ############ Style elements from the results with the content  ###########*/

.content{
	background-color: white;
	display: table;
	position: relative;
	top: 30px;
	width: 100%; height: 75%;
}

.container {
	width: 50%;
	margin:0 auto;
}

.square {
	margin-left: 1px;
	margin-top: 1px;
	border: 1px solid black;
	float: left
}

.row {
	clear: both;
}

/* ############ Style elements from the footer   ###########*/

.footer{
	width: 100%; height: 65px;
	position: relative;
	top: 80px;
	background-color: gray;
}