
/* ############ Style elements from the navbar  ###########*/
.navbar{
	width: 100%; height: 15%;
	position: relative;
	top:0; left:0;
	clear: both;
}

#header {
	text-align:center;
	padding-top: 10px;
}

/* ############ Style elements from the results with the content  ###########*/

.content{
	background-color: white;
	display: table;
	position: relative;
	top: 20px;
	width: 100%; height: 75%;
}

.container {
	width: 50%;
	margin:0 auto;
}

.square {
	margin-left: 1px;
	margin-top: 1px;
	border: 1px solid black;
	float: left
}

.row {
	clear: both;
}

/* ############ Style elements from the footer   ###########*/

.footer{
	width: 100%; height: 65px;
	position: relative;
	top: 80px;
	background-color: gray;
}